/* NAV */

.nav {
  display: flex;
  background-color: var(--primary);
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  font-weight: 900;
}

a {
  padding: 1em;
}

i {
  padding: .12em;
}

/* MAIN */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  width: 100%;
  text-align: center;
  padding: 1em;
}

img {
  width: 70%;
  padding: 0 1em;
  margin-bottom: 1em;
  background-color: var(--text);

}

.desc {
  width: 100%;
  text-align: center;
  padding: 1em;
}

.price {
  width: 50%;
  font-size: 2em;
  text-align: center;
  margin: 1em 0;
}

.add {
  width: 35%;
  height: 8vh;
  align-self: center;
  background: var(--primary);
  border: none;
  font-weight: 900;
}

.add:hover {
  background: #1b2d31;
}

/* FOOTER */

.footer {
  display: flex;
  background-color: var(--primary);
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-basis: 100vw;
  height: 3em;
}

.phone, .email, .about {
  flex-grow: 1;
  text-align: center;
  align-self: center;
}

.copy {
  display: flex;
  flex-basis: 100vw;
  justify-content: center;
  background-color: #2f4b53;
}

.copyright {
  align-self: center;
  padding: 0 .3em;
}