/* NAV */

.nav {
  display: flex;
  background-color: var(--primary);
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  font-weight: 900;
}

a {
  padding: 1em;
}

i {
  padding: .12em;
}

#login, .fa-right-to-bracket {
  background-color: var(--secondary);
  color: var(--primary);
}

/* MAIN */

form {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: var(--secondary);
  padding: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 40%;
  align-content: space-around;
  justify-content: center;
}

input {
  width: 15em;
  height: 18%;
  color: #000;
  padding: 1em;
}

input::placeholder {
  font-weight: 900;
}

.submit {
  background-color: var(--primary);
  border: none;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

/* FOOTER */

.footer {
  display: flex;
  background-color: var(--primary);
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-basis: 100vw;
  height: 3em;
}

.phone, .email, .about {
  flex-grow: 1;
  text-align: center;
  align-self: center;
}

.copy {
  display: flex;
  flex-basis: 100vw;
  justify-content: center;
  background-color: #2f4b53;
}

.copyright {
  align-self: center;
  padding: 0 .3em;
}